---
layout: default
css-include: /css/main.css
sorted: 1
---
<link rel="stylesheet" type="text/css" href="https://cdn.kde.org/breeze-icons/icons.css">
<main aria-label="Content" id="content" class="container">
    <br/>
    <h1>Blog <a href="/feed.xml" title="Cantor Blog's feed"><small><i class="icon icon_rss"></i></small></a></h1>
    
    {% include blog.html %}

</main>
